@using PetStore.Web.ViewModels.Categories
@model AllCategoriesViewModel

@{
    ViewData["Title"] = "All";
}

<h2>All Categories</h2>

<div>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.AllCategories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<ul class="pagination">
    @for (int i = 1; i < Model.PageCount; i++)
    {
        @if (i == Model.ActivePage)
        {
            <li class="active">
                <a asp-action="All" asp-route-page="@i">@i</a>
            </li>
        }
        else
        {
            <li>
                <a asp-action="All" asp-route-page="@i">@i</a>
            </li>
        }
    }
</ul>
